* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}


main {
  
}
section {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
section::before {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

div.calculatorCard {
  width: 500px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
button.btn-lg {
  font-size: 30px;
}

@media (max-width: 768px) {
  div.calculatorCard {
    margin: 0px 50px;
    width: auto;
  }
}
